<IfModule mod_rewrite.c>

	RewriteEngine on
	RewriteBase /

	### DON'T BREAK THE OLD WEBSITE
	
  RewriteRule 2009/4/mobileme-for-a-picture-gallery$ 2009/04/11/mobileme-for-a-picture-gallery [L,R=301]
  RewriteRule 2008/6/datamapper-many-to-many-parent-child-relationship$ 2008/6/17/datamapper-many-to-many-parent-child-relationship [L,R=301]
  RewriteRule 2008/6/mephisto-section-with-multiple-pages-on-homepage-static-intro-page$ 2008/6/21/mephisto-section-with-multiple-pages-on-homepage-static-intro-page
  RewriteRule 2009/4/mephisto-next-article-link-and-previous-article-link$ 2009/4/17/mephisto-next-article-link-and-previous-article-link
  RewriteRule 2009/6/uploading-multiple-files-with-symphony-cms$ 2009/6/1/uploading-multiple-files-with-symphony-cms
  RewriteRule 2009/6/dealing-with-database-concurrency-locking-in-the-symphony-cms$ 2009/6/13/dealing-with-database-concurrency-locking-in-the-symphony-cms
  RewriteRule 2010/6/gtx470-480-fermi-in-osx$ 2010/06/21-gtx470-480-fermi-in-osx
  RewriteRule 2009/6/using-a-3-0-iphone-on-t-mobile-get-mms-working$ 2009/6/16/using-a-3-0-iphone-on-t-mobile-get-mms-working
  

</IfModule>
######

ErrorDocument 404 /404/index.html