	<article class="post">
		<header>
			<h2><a href="{{ post.url }}" title="[Permalink] {{ post.title }}">{{ post.title }}</a></h2>
			<div class="date">Stamped: {{ post.date | date_to_string }} {% if post.comments_disabled != true %} | <a href="{{ post.url }}#disqus_thread">Show comments</a>{% endif %}</div>
		</header>
		<section class="content">
			{% if page.title == 'Journal' %}
			{{ post.content }}
			{% elsif page.title contains 'tags' %}
			{{ page.content }}
			{% else %}
			{{ content }}
			{% endif %}
		</section>
	  tags:
	  {% for tag in post.tags %}
	    <a href="/tags/{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>{% if forloop.last != true %}, {% endif %}
	  {% endfor %}
		{% if post.comments_disabled != true and page.id != nil %}
		<section class="comments">
			<div id="disqus_thread"></div>
			<script type="text/javascript">
				var disqus_developer = 1; 
			  (function() {
			   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			   dsq.src = 'http://tesoriere.disqus.com/embed.js';
			   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			  })();
			</script>
			<noscript><a href="http://tesoriere.disqus.com/?url=ref">View the discussion thread.</a></noscript>
		</section>
		{% endif %}
	</article>