---
layout: default
title: Journal
syntax-highlighting: yes
---
<articles>
{% for post in site.posts limit:4 %}
  {% include post.html %}
{% endfor %}
	<article class="post" style="border-bottom: none">
		<h2><a href="/archive">View the entire backlog of articles</a></h2>
	</article>
</articles>
<script type="text/javascript">
var disqus_shortname = 'tesoriere';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/tesoriere/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>