<!DOCTYPE HTML>
<!--[if lt IE 7]>  <html class="no-js ie ie6 lte9 lte8 lte7">	<![endif]-->
<!--[if IE 7]>     <html class="no-js ie ie7 lte9 lte8 lte7">	<![endif]-->
<!--[if IE 8]>     <html class="no-js ie ie8 lte9 lte8">		<![endif]-->
<!--[if IE 9]>     <html class="no-js ie ie9 lte9">				<![endif]-->
<!--[if gt IE 9]>  <html>										<![endif]-->
<!--[if !IE]><!-->
<html class="no-js">
<!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<title>Tesoriere - {{ page.title }}</title>
	<meta name="description" content="Articles and projects written and created by developer Scott Tesoriere.">
	<meta name="author" content="Scott Tesoriere">
	<link rel="alternate" type="application/atom+xml" title="Carter Allen - Feed" href="/atom.xml">
	
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
	{% if page.stylesheets != nil %}{% for stylesheet in page.stylesheets %}<link rel="stylesheet" href="/stylesheets/{{ stylesheet }}">{% endfor %}{% endif %}
		{% if page.syntax-highlighting %}<link rel="stylesheet" href="/stylesheets/syntax-highlighting.css">{% endif %}
				
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try { var pageTracker = _gat._getTracker("UA-6824117-1"); pageTracker._trackPageview(); } catch(err) {}</script>
	<script src="/javascripts/modernizr-1.5.min.js"></script>

	</head>
	
<body{% if page.title != 'Home' %} id="articles"{% endif %}>
	<div id="container">
		<header id="header-top">
			developer, designer, consultant
		</header>
		<header id="header-bottom"></header>
		<section id="content">
			{{ content }}
		</section>
		<nav class="main">
			<ul>
				<li class="tesoriere"><a href="/" class="title">navigate</a></li>
				<li><a href="/tags/portfolio" style="height: 40px; ">projects<span>see the projects</span></a></li>
				<li><a href="/journal" style="height: 20px; ">journal<span>recent happenings</span></a></li>
				<li><a href="mailto:web@tesoriere.com" style="height: 20px; ">contact<span class="green">contact via email</span></a></li>
			</ul>			
			<section id="search">
				<span class="title">search</span>
			</section>
			<section id="tags">
				<span class="title">tags</span>
  			{% include tag_cloud.html %}
			</section>
		</nav>
		<section id="bottom">
			<article>
				<span class="title">recent work</span>
				<ul>
					{% for post in site.tags.portfolio limit: 2 %}
					<li><a href="{{ post.url }}"><img src="/images/assets/{{ post.img }}" /></a></li>
					{% endfor %}
				</ul>
				<a class="more" href="/tags/portfolio">see more projects</a>
			</article>
			<aside>
				<span class="title">contact</span>
				mail. <a href="mailto:web@tesoriere.com">web@tesoriere.com</a><br />
				currently <b>accepting</b> projects
			</aside>
		</section>
		<footer>
			<nav class="bottom">
				<ul>
					<li><a href="">projects</a></li>
					<li><a href="">contact</a></li>
					<li><a href="">home</a></li>
				</ul>
			</nav>
			<aside><a href="/"><img src="/images/bottom-tesoriere.jpg" alt="tesoriere.com" title="tesoriere.com"/></a></aside>
		</footer>
	</div>
	
	
	
	
</body>
</html>
