<!DOCTYPE HTML>
<!--[if lt IE 7]>  <html class="no-js ie ie6 lte9 lte8 lte7">	<![endif]-->
<!--[if IE 7]>     <html class="no-js ie ie7 lte9 lte8 lte7">	<![endif]-->
<!--[if IE 8]>     <html class="no-js ie ie8 lte9 lte8">		<![endif]-->
<!--[if IE 9]>     <html class="no-js ie ie9 lte9">				<![endif]-->
<!--[if gt IE 9]>  <html>										<![endif]-->
<!--[if !IE]><!-->
<html class="no-js">
<!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="description" content="Articles and projects written and created by developer Scott Tesoriere.">
	<meta name="author" content="Scott Tesoriere">
	<link rel="alternate" type="application/atom+xml" title="Scott Tesoriere - feed" href="/atom.xml">
	<link rel="icon" type="images/png" href="/images/bookmark.jpg" />	
	<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
	<!--[if IE]>
		<link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->
	{% if page.stylesheets != nil %}{% for stylesheet in page.stylesheets %}<link rel="stylesheet" href="/stylesheets/{{ stylesheet }}" />{% endfor %}{% endif %}
	{% if page.syntax-highlighting %}<link rel="stylesheet" href="/stylesheets/syntax-highlighting.css" />{% endif %}
	{% if page.title != 'Home' %}<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.colorbox-min.js"></script>
	<script type="text/javascript" src="/javascripts/site.js"></script>
	<link rel="stylesheet" href="/stylesheets/colorbox.css" />
	{% endif %}	
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-6824117-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<script src="/javascripts/modernizr-1.5.min.js"></script>

	</head>
	
<body{% if page.title != 'Home' and page.title != 'four-oh-four' %} id="articles"{% endif %}>
	<div id="container">
		<header id="header-top">
			developer, designer, consultant
		</header>
		<header id="header-bottom"></header>
		<section id="content">
			{{ content }}
		</section>
		<nav class="main">
			<ul>
				{% unless page.title == 'Home' %}<li><a href="/">home<span>the beginning</span></a></li>{%endunless%}
				<li{% if page.title contains 'portfolio'%} class="selected"{%endif%}><a href="/tags/portfolio">projects<span>encyclopedia projectia</span></a></li>
				<li{% if page.title == 'Journal'%} class="selected"{%endif%}><a href="/journal">journal<span>musings and un-musings</span></a></li>
				{% if page.title != 'Home' %}<li{% if page.title == 'Archive'%} class="selected"{%endif%}><a href="/archive">archives<span>aged to perfection</span></a></li>
				<li><a href="http://projects.tesoriere.com/public">client access<span>progress!<span></li>
				{%endif%}
				<li><a href="mailto:web@tesoriere.com">contact<span class="green">drop me a line</span></a></li>
			</ul>
			{% unless page.title contains 'portfolio' %}
			{%if page.title != 'Home' %}
			<section id="adsense">
				<script type="text/javascript"><!--
				google_ad_client = "ca-pub-3702252315546866";
				/* Tesoriere.com journal */
				google_ad_slot = "2621094104";
				google_ad_width = 160;
				google_ad_height = 600;
				//-->
				</script>
				<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
			</section>	
			{%endif%}
			{%endunless%}
			<section id="search">
				<span class="title">search</span>
				{% include search.html %}
			</section>
			<section id="tags">
				<span class="title">tags</span>
  			{% include tag_cloud.html %}
			</section>
		</nav>
		<section id="bottom">
			{% if page.title != 'Archive' %}
			{% if page.title == 'Home' %}
			<article class="work">
				<span class="title recent-work">recent work</span>
				<ul>
					{% for post in site.tags.portfolio limit: 3 %}
					<li><a href="{{ post.url }}" title="{{ post.title }}"><img alt="{{ post.title }} image" src="/images/assets/{{ post.img }}" /></a></li>
					{% endfor %}
				</ul>
				<a class="more" href="/tags/portfolio">View more projects</a>
			</article>
			{% endif %}
			<article class="recent">
				<span class="title">recent entries</span>
				{% if page.title == 'Journal' %}
					{%assign offset = 4%}
				{%else%}
					{% assign offset = 0 %}
				{%endif%}
				{% for post in site.posts limit:10 offset:offset %}
				<section class="article-link">
					<a href="{{ post.url }}" title="[Permalink] {{ post.url }}">{{ post.title }}</a>
				</section>
				{% endfor %}
				<a href="/archive" class="more" title="View the entire archive">View the entire archive of articles</a>
			</article>
			<aside>
				<span class="title">contact</span>
				<p>Interested in hiring me? Or perhaps you just need some more information? I'm currently interested in taking on new clients and new and interesting projects.<br /><a href="mailto:web@tesoriere.com">Get in touch!</a> You can also find me on <a href="http://www.workingwithrails.com/recommendation/new/person/20242-scott-tesoriere">Working with Rails!</a>
				</p>
				<br />
				<span class="title">photography</span>
				<p>Interested in photography, interior design and calligraphy? I'm partnered with another South Florida business, <a href="http://wpinks.com">WP Inks</a>, to cater to all your requests! Head on over and <a href="http://wpinks.com">check them out!</a>
					</p>
			</aside>
			<!-- <aside>
				<span class='title'>recent comments</span>
				<div id="recentcomments" class="dsq-widget"><script type="text/javascript" src="http://disqus.com/forums/tesoriere/recent_comments_widget.js?num_items=5&hide_avatars=1&avatar_size=32&excerpt_length=200"></script></div>
			</aside> -->
			{% endif %}
		</section>
		<footer>
			<nav class="bottom">
				<ul>
					<li><a href="/tags/portfolio">projects</a></li>
					<li><a href="/archive">archives</a></li>
					<li><a href="http://projects.tesoriere.com/public">client access</li>
					<li><a href="/">home</a></li>
					<li><a href="http://wpinks.com">photography</a></li>
				</ul>
			</nav>
			<aside><a href="/"><img src="/images/bottom-tesoriere.jpg" alt="tesoriere.com" title="tesoriere.com"/></a></aside>
		</footer>
	</div>
	
{% if page.title != 'Home' %}
<script>
	var disqus_shortname = 'tesoriere';
	(function () {
	  var s = document.createElement('script'); s.async = true;
	  s.src = 'http://disqus.com/forums/tesoriere/count.js';
	  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	}());
</script>
{% endif %}	
</body>
</html>
